{% block personal_product_attributes %}
    <div v-if="!isLoading">
        <sw-switch-field
            label="Product can be customized"
            v-model="product.customFields.personal_product_customizable">
        </sw-switch-field>
        <sw-container columns="1fr 1fr" gap="0 20px" v-if="product.customFields.personal_product_customizable">
            <sw-number-field
                label="Canvas X"
                v-model="product.customFields.personal_product_canvasX">
            </sw-number-field>

            <sw-number-field
                label="Canvas Y"
                v-model="product.customFields.personal_product_canvasY">
            </sw-number-field>

            <sw-number-field
                label="Canvas width"
                v-model="product.customFields.personal_product_canvasWidth">
            </sw-number-field>

            <sw-number-field
                label="Canvas height"
                v-model="product.customFields.personal_product_canvasHeight">
            </sw-number-field>
        </sw-container>
    </div>
{% endblock %}
