{% block sw_order_line_items_grid_grid_columns_label_content %}
    {% parent() %}
    <span v-if="item.payload.url">&nbsp;- Customized</span>
{% endblock %}

{% block sw_order_line_items_grid_grid_columns_label_link %}
    <router-link v-if="!isInlineEdit && item.payload.url"
                 :title="$tc('sw-order.detailBase.contextMenuShowProduct')"
                 :to="{ name: 'sw.product.detail', params: { id: item.referencedId } }">
            {{ item.label }}
    </router-link>
    <template v-else>
        {% parent() %}
    </template>
{% endblock %}


{% block sw_order_line_items_grid_grid_actions_show %}
    <template v-if="item.payload.url">
        <sw-context-menu-item :disabled="item.type !== 'product'"
                              icon="default-eye-open"
                              :routerLink="{ name: 'sw.product.detail', params: { id: item.referencedId } }">
            {{ $tc('sw-order.detailBase.contextMenuShowProduct') }}
        </sw-context-menu-item>
        <sw-context-menu-item icon="default-eye-open" @click="personalProduct = item">
            Show preview
        </sw-context-menu-item>
    </template>
    <template v-else>
        {% parent() %}
    </template>
{% endblock %}

{% block sw_order_line_items_grid_grid %}
    {% parent() %}

    <personal-product-preview-modal v-if="personalProduct"
                                    :productId="personalProduct.referencedId"
                                    :imageUrl="personalProduct.payload.url"
                                    @modal-close="personalProduct = false">
    </personal-product-preview-modal>
{% endblock %}
