{% sw_extends '@Storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_configurator_include %}
    {{ parent() }}
    {% set customFields = page.product.customFields %}
    {% if customFields.personal_product_customizable %}
        <div data-image-changer="true"
                data-image-changer-options='{"fetchRoute": "{{ path('frontend.personal-product.get-image') }}"}'>
            <input type="text"
                   name="{{ constant('SwagPersonalProduct\\Controller\\PersonalProductController::PERSONAL_PRODUCT_REQUEST_IMAGE_URL_PARAMETER') }}"
                   value=""
                   form="productDetailPageBuyProductForm">
            <button class="fetch-button btn btn-info">Fetch new picture</button>
        </div>
    {% endif %}
{% endblock %}
