{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_media %}
    {% set customFields = page.product.customFields %}
    {% if customFields.personal_product_customizable %}
        <div class="personal-product">
            <canvas
                class="personal-product-canvas"
                width="{{ page.product.media.first().media.metaData.width }}"
                height="{{ page.product.media.first().media.metaData.height }}">
            </canvas>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
