{% block personal_product_attributes %}
    <div v-if="!isLoading" class="personal-product-canvas">
        <sw-switch-field
            label="Customizable product"
            v-model="isCustomizable">
        </sw-switch-field>

        <sw-container columns="2fr 1fr" v-if="isCustomizable">
            <div class="media-canvas-outer">
                <div class="media-canvas-inner">
                    <canvas ref="canvas" class="canvas" @click="onClickCanvas"></canvas>
                </div>
            </div>

            <div>
                <sw-number-field
                    label="Canvas X0"
                    v-model="canvasX0">
                </sw-number-field>

                <sw-number-field
                    label="Canvas Y0"
                    v-model="canvasY0">
                </sw-number-field>

                <sw-number-field
                    label="Canva Width"
                    v-model="canvasWidth">
                </sw-number-field>

                <sw-number-field
                    label="Canvas Height"
                    v-model="canvasHeight">
                </sw-number-field>

                <sw-button @click="onClickReset" variant="primary">
                    Reset
                </sw-button>
            </div>
        </sw-container>
    </div>
{% endblock %}
